    @import url('https://fonts.googleapis.com/css2?family=AR+One+Sans&display=swap');
body {
    color: rgb(213, 26, 129);
    font-family: 'AR One Sans', sans-serif;
}   
.abzac {
    text-decoration: line-through double #010103;
    color: red
}
div {
    text-indent: 27px; /* Отступ первой строки в пикселах */
    }
        .paragraph{
						color: rgb(96, 119, 210);
                        background-color: rgb(196, 186, 184);
        }
    
        form {
            font-size: 30px;
        }
    .login {
        display: inline-block;
    }
    .spisok {
        font-size: 100px !important;
    }